* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
.container-fluid .img{
    width:100%;
    height:auto;
}

.NewsDate{
    margin-bottom: 20px;
}
